/* dashboard.css */
.main-container {
  margin-left: 200px; /* Push the content to the right to make room for the sidebar */
  display: flex;
  min-height: 100vh;
}

.central-content {
  flex-grow: 1;
  padding: 20px; /* Padding inside the central content */
  background-color: #95A5A6; /* Light gray background */
  overflow-y: auto; /* Scrollable if content is taller than the screen */
}

.right {
  width: 200px;
  background-color: #2C3E50;
  padding: 20px;
  box-sizing: border-box;
}

.community-item {
  background-color: #34495E;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.community-item.active {
  background-color: #2ECC71;
}
